@model internetprogramciligi1.Models.Lesson
@{
    ViewData["Title"] = "Ders Düzenle"; Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Ders Düzenle</h6></div>
    <div class="card-body">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CourseId" />

            <div class="mb-3">
                <label asp-for="Title" class="fw-bold">Ders Başlığı</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="VideoUrl" class="fw-bold">Video URL (Youtube)</label>
                <input asp-for="VideoUrl" class="form-control" />
                <span asp-validation-for="VideoUrl" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Güncelle</button>
            <a href="/Course/List" class="btn btn-secondary">İptal</a>
        </form>
    </div>
</div>